<h1>Listing Check Outs</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Username</th>
      <th>Item Name</th>
      <th>Issue Date</th>
      <th>Return Date</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @check_outs.each do |check_out| %>
    <tr>
      <td><%= check_out.id %></td>
      <td><%= check_out.user.username %></td>
      <td><%= check_out.item.name %></td>
      <td><%= check_out.created_at.strftime('%Y-%m-%d') %></td>
      <td><%= check_out.returned_at %></td>
      <td class="actions">
        <%= link_to("Show", check_out) %>
        <%= link_to("Edit", edit_check_out_path(check_out)) %>
        <% if(check_out.returned_at == nil) %>
            <%= link_to('Return', { action: 'return', id: check_out.id }) %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to new_check_out_path, class: 'btn btn-success' do %>
  <span class="glyphicon glyphicon-plus"></span>&nbsp; New Check Out
<% end %>