<%= form_for(@item_type) do |f| %>
  <% if @item_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item_type.errors.count, "error") %> prohibited this item_type from being saved:</h2>

      <ul>
      <% @item_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </div>
  
  <!-- Commented out! Remember to remove the two hashes aswell! -->
  <div class="field">
    <%= f.label :retired_at %><br>
    <%= f.date_select :retired_at %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
