<!-- Index page for item types -->
<h1>Listing Item Types</h1>

<!-- Table for all item types -->
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Notes</th>
      <th>Retired at</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @item_types.each do |item_type| %>
      <tr>
        <td><%= item_type.id %></td>
        <td><%= item_type.name %></td>
        <td><%= item_type.description %></td>
        <td><%= item_type.notes %></td>
        <td><%= item_type.retired_at %></td>
        <td class="actions">
          <%= link_to("Show", item_type) %>
          <%= link_to("Edit", edit_item_type_path(item_type)) %>
          <% if(item_type.retired_at == nil) %>
            <%= link_to('Retire', { action: 'retire', id: item_type.id }) %>
          <% else %>
            <%= link_to('Unretire', { action: 'unretire', id: item_type.id }) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!-- New item type -->
<%= link_to new_item_type_path, class: 'btn btn-success' do %>
  <span class="glyphicon glyphicon-plus"></span>&nbsp; New item type
<% end %>