<h1>Listing Item Types</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Notes</th>
      <th>Retired at</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @item_types.each do |item_type| %>
      <tr>
        <td><%= item_type.id %></td>
        <td><%= item_type.name %></td>
        <td><%= item_type.description %></td>
        <td><%= item_type.notes %></td>
        <td><%= item_type.retired_at %></td>
        <td class="actions">
        <%= link_to("Show", item_type) %>
        <%= link_to("Edit", edit_item_type_path(item_type)) %>
        <%= link_to('Retire') %>
      </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New item type', new_item_type_path, :class => "btn btn-success" %>