<h1><%= @item_type.name %></h1>

<table>
  <thead>
    <tr>
      <th>Item Type Data</th>
      <th>Details</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td>ID:</td>
        <td><%= @item_type.id %></td>
      </tr>
      <tr>
        <td>Name:</td>
        <td><%= @item_type.name %></td>
      </tr>
      <tr>
        <td>Description:</td>
        <td><%= @item_type.description %></td>
      </tr>
      <tr>
        <td>Notes:</td>
        <td><%= @item_type.notes %></td>
      </tr>
      <tr>
        <td>Retired at:</td>
        <td><%= @item_type.retired_at %></td>
      </tr>
  </tbody>
</table>

<%= link_to item_types_path, class: 'btn btn-primary' do %>
  <span class="glyphicon glyphicon-chevron-left"></span>&nbsp; Back
<% end %>


<%= link_to edit_item_type_path(@item_type), class: 'btn btn-primary' do %>
  <span class="glyphicon glyphicon-edit"></span>&nbsp; Edit
<% end %>
