<h1><%= @user.username %></h1>

<table>
  <thead>
    <tr>
      <th>User Data</th>
      <th>Details</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td>ID:</td>
        <td><%= @user.id %></td>
      </tr>
      <tr>
        <td>First name:</td>
        <td><%= @user.first_name %></td>
      </tr>
      <tr>
        <td>Last name:</td>
        <td><%= @user.last_name %></td>
      </tr>
      <tr>
        <td>Username:</td>
        <td><%= @user.username %></td>
      </tr>
      <tr>
        <td>Email:</td>
        <td><%= @user.email %></td>
      </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-success' %>
<%= link_to 'Back', users_path, class: 'btn btn-success' %>
