<%= form_for @item, :html => {:class => "form-horizontal"} do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-lg-6">
    <div class="form-group">
      <%= f.label :name, class: "control-label" %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    
    <div class="form-group">
      <%= f.label :price, class: "control-label" %>
      <%= f.text_field :price, class: "form-control" %>
    </div>
    
    <div class="form-group">
      <%= f.label :asset_num, class: "control-label" %>
      <%= f.text_field :asset_num, class: "form-control" %>
    </div>
    
    <div class="form-group">
      <%= f.label :notes, class: "control-label" %>
      <%= f.text_area :notes, class: "form-control" %>
    </div>
    
    <div class="form-group">
      <%= f.label :item_type, class: "control-label" %>
      <%= f.collection_select(:item_type_id, ItemType.not_retired, :id, :name, { :prompt => true }, { class: "form-control" }) %>
    </div>

    <div class="form-group">
      <%= f.submit "Submit", class: "btn btn-default btn-success" %>
    </div>
  </div>
  
<% end %>
